<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <a href="https://www.ticketea.com/entradas-nit-sonora-2018/" title="Compra aquí les teves entrades">
                <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/ca/buyhere.png" alt="Compra aquí les teves entrades" />
              </a>
            
        </div>
        <div class="card">
            <a href="https://www.ticketea.com/entradas-nit-sonora-2018/" title="Registrar-se per a l'esdeveniment">
                <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/ca/registeronline.png" alt="Registrar-se per a l'esdeveniment" />
              </a>
            
        </div>
        <div class="card">
            <a href="https://www.ticketea.com/entradas-nit-sonora-2018/" title="que hi aniràs?">
                <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/ca/rsvp.png" alt="que hi aniràs?" />
              </a>
            
            
        </div>
        <div class="card">
            <a href="https://www.ticketea.com/entradas-nit-sonora-2018/" title="Fes una donació">
                <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/ca/makedonation.png" alt="Fes una donació" />
              </a>
            
        </div>
    </div>
</div>