<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Persona: {{ persona.nombre }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarPersona(f)">
                        <div class="form-group">
                            <label>Dni:</label>
                            <input [(ngModel)]="persona.dni" name="dni" type="text" class="form-control" placeholder="Dni de lusuari" required>
                        </div>
                        <div class="form-group">
                            <label>Nomb:</label>
                            <input [(ngModel)]="persona.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de lusuari" required>
                        </div>
                        <div class="form-group">
                            <label>Poblacio</label>
                            <input [(ngModel)]="persona.poblacio" name="poblacio" type="text" class="form-control" placeholder="Poblacio de lusuari" required>
                        </div>

                        <div class="form-group">
                            <label>Actiu</label>
                            <select [(ngModel)]="persona.actiu" name="actiu" class="form-control" required>
                            <option value="">Seleccione opció</option>
                            <option value="Si"> Si</option>
                            <option value="No"> No</option>
                          </select>

                        </div>
                        <div class="form-group">
                            <label>Comunitat</label>
                            <select [(ngModel)]="persona.comunitat" name="comunitat" class="form-control" required>
                          <option value="">Seleccione opció</option>
                          <option value="Si"> Si</option>
                          <option value="No"> No</option>
                        </select>

                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                        <a routerLink="/persones" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Informes: {{ persona.nombre }}</h3>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Informe</th>
                        <th>Data</th>
                        <th>Persona</th>
                        <th>Usuari</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let informe of informes">

                        <td>
                            {{ informe.nombre }}
                        </td>
                        <td>
                            {{ informe.data | data}}
                        </td>
                        <td>
                            {{ informe.persona.nombre }}
                        </td>
                        <td>
                            {{ informe.usuario.nombre }}
                        </td>
                        <td>
                            <button [routerLink]="['/informe', informe._id ]" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="creaAnotacio()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                    <i class="fa fa-plus"></i> 
                                    Crear Anotació
                                  </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn">

    <div class="col-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Anotacions</h3>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>Data</th>
                            <th> Usuari </th>
                            <th>Text</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let anotacio of anotacions">

                            <td>
                                {{ anotacio.data | data}}
                            </td>
                            <td>
                                {{ anotacio.usuario }}
                            </td>
                            <td>
                                {{ anotacio.text }}
                            </td>
                            <td>
                                <button (click)="esborraAnotacio( anotacio )" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>